Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Build/Windows/Manifest_UFSFiles_Win64.txt
Build/Windows/Manifest_NonUFSFiles_Win64.txt
Build/Windows/Manifest_DebugFiles_Win64.txt
Build/Windows/GameOff2023/Content/Paks/global.utoc
Build/Windows/GameOff2023/Content/Paks/global.ucas
Build/Windows/GameOff2023/Content/Paks/GameOff2023-Windows.utoc
Build/Windows/GameOff2023/Content/Paks/GameOff2023-Windows.ucas
Build/Windows/GameOff2023/Content/Paks/GameOff2023-Windows.pak
Build/Windows/GameOff2023.exe
Build/Windows/FileOpenOrder/EditorOpenOrder.log
Build/Windows/FileOpenOrder/CookerOpenOrder.log
Build/Windows/Engine/Extras/Redist/en-us/UEPrereqSetup_x64.exe
Build/Windows/Engine/Extras/GPUDumpViewer/OpenGPUDumpViewer.sh
Build/Windows/Engine/Extras/GPUDumpViewer/OpenGPUDumpViewer.bat
Build/Windows/Engine/Extras/GPUDumpViewer/GPUDumpViewer.html
Build/Windows/Engine/Content/SlateDebug/Fonts/LastResort.ttf
Build/Windows/Engine/Content/SlateDebug/Fonts/LastResort.tps
Build/Windows/FileOpenOrder/EditorOpenOrder.log
Build/Windows/FileOpenOrder/CookerOpenOrder.log
Build/Windows/FileOpenOrder/CookerOpenOrder.log
Build/Windows/FileOpenOrder/EditorOpenOrder.log
Build/Windows/*
Build/Windows/FileOpenOrder/CookerOpenOrder.log
Build/Windows/FileOpenOrder/EditorOpenOrder.log
Build/Windows/FileOpenOrder/CookerOpenOrder.log
Build/Windows/FileOpenOrder/EditorOpenOrder.log
Build/Windows/FileOpenOrder/CookerOpenOrder.log
Build/Windows/FileOpenOrder/EditorOpenOrder.log
